*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}
.logo{
    font-size: 24px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a:hover{
    color: rgb(255, 115, 0);
}
section{
    padding: 50px 0;
    text-align: center;
}
.banner{
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.banner img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.texto-banner{
    font-size: 18px;
}
#sobre{
    background-color: #f4f4f4;
    padding: 50px 100px;
    text-align: justify;
}
#sobre h2{
    color: #333;
}
#sobre p{
    font-size: 18px;
    line-height: 1.6;
    color: black;
}
#tecnologias{
    background-color: #e6e6e6;
}
#tecnologias h2{
    color: #333;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table th, table td{
    padding: 10px;
    border: 1px solid #ccc;
    transition: background-color 0.3s;
}
table tr:hover{
    background-color: #f9f9f9;
}
#contato h2{
    color: #333;
}
form{
    max-width: 400px;
    margin: 0 auto;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
}
button{
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
}
.redes-sociais a{
    color: #fff;
    margin-right: 10px;
}